
html
{
    background-image: url("album cover.jpg");
    background-size: 250vh;
    background-repeat: no-repeat;
    color: white;
}
h1{
    font-size: 10vh;
    margin-left: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 4vh;
    margin-left: 15vh;

}
p{
    font-size: 2vh;
    margin-left: 18vh;
}
h2,p{
    font-family:Georgia;
}
